<!DOCTYPE html>
<html lang="en">

<head>
    <title>PageAnalysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        var token;
        // check if logged in or not
        function isLoggedIn() {
            token = localStorage.getItem('token')
            if (!token) {
                window.location.href = "http://localhost:4000/"
            }
        }
        var test = isLoggedIn();

        // plot graphs
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawBasic);
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        // get data from graph (views over globe)
        var countries;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/getUsersFromCountries", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            token: token
        }));
        xhr.onload = function () {
            countries = JSON.parse(this.responseText);
        }
        setTimeout(function () { drawBasic() }, 300);

        // plot graph for countries
        function drawBasic() {
            let germany, india, us, uk;
            if (countries[0] != 0) {
                germany = countries[0] + 1;
            } else {
                germany = countries[0]
            }
            if (countries[1] != 0) {
                india = countries[1] + 1;
            } else {
                india = countries[1];
            }
            if (countries[2] != 0) {
                us = countries[2] + 1;
            } else {
                us = countries[2];
            }
            if (countries[3] != 0) {
                uk = countries[3] + 1;
            } else {
                uk = countries[3];
            }
            var data = google.visualization.arrayToDataTable([
                ['Countries', 'Views',],
                ['Germany', germany],
                ['India', india],
                ['United States', us],
                ['Unites Kingdom', uk]
            ]);
            var options = {
                title: 'Views by Countries',
                chartArea: { width: '50%' },
                hAxis: {
                    title: 'Total Views',
                    minValue: 0
                },
                vAxis: {
                    title: 'Countries'
                }
            };
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        // get values for browser plot
        var browserViews;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/api/filterViewsByBrowser", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
        }));
        xhr.onload = function () {
            browserViews = JSON.parse(this.responseText);
        }
        setTimeout(function () { drawChart() }, 500);

        // plot graph views based on browser
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Views', 'browser'],
                ['Chrome', browserViews[0]],
                ['Safari', browserViews[1]],
                ['Firefox', browserViews[2]],
                ['Edge', browserViews[3]]
            ]);
            var options = {
                title: 'Views based on browser'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }

        // filter views by country
        $(function getSelected() {
            let views;
            var output = document.getElementById('output');
            $('#dynamic_select').on('change', function () {
                var value = $(this).val();
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/api/filterViewsByCountry", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    token: token,
                    country: value
                }));
                xhr.onload = function () {
                    views = this.responseText;
                    output.innerHTML = views;
                }
            });
        });

        // add country to database
        function addCountryToDB() {
            let country;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/addCountryToDB", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                token: token
            }));
            xhr.onload = function () {
                country = this.responseText;
                var output = document.getElementById('country');
                output.innerHTML = country;
            }
        }
        var getCountryName = addCountryToDB();

        // filter views by pageId
        $(function filterViewsByPageId() {
            let views;
            var output = document.getElementById('outputTest');
            $('#dynamic').on('change', function () {
                var value = $(this).val();
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/api/filterViewsByPageId", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    token: token,
                    page: value
                }));
                xhr.onload = function () {
                    views = this.responseText;
                    output.innerHTML = views;
                }
            });
        });

        // get browser details
        var browser = (function (agent) {
            switch (true) {
                case agent.indexOf("edge") > -1: return "edge";
                case agent.indexOf("edg") > -1: return "chromium based edge (dev or canary)";
                case agent.indexOf("opr") > -1 && !!window.opr: return "opera";
                case agent.indexOf("chrome") > -1 && !!window.chrome: return "chrome";
                case agent.indexOf("trident") > -1: return "ie";
                case agent.indexOf("firefox") > -1: return "firefox";
                case agent.indexOf("safari") > -1: return "safari";
                default: return "other";
            }
        })(window.navigator.userAgent.toLowerCase());

        // add browser type to database
        function browserValue(browser) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/addBrowserType", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                token: token,
                browser: browser
            }));
            xhr.onload = function () {
            }
        }
        var addBrowser = browserValue(browser);

        // get views for home page
        function viewValue() {
            let count;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/viewValue", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                token: token
            }));
            xhr.onload = function () {
                count = this.responseText;
                var output = document.getElementById('counter');
                output.innerHTML = count;
            }
        }
        var getCounterValue = viewValue();

        // save same session to database
        function saveSameSession() {
            let country;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/saveSameSession", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                token: token
            }));
            xhr.onload = function () {
                country = this.responseText;
            }
        }
        var sessionSaved = saveSameSession();
        function signOut() {
            localStorage.removeItem('token');
            window.location.href = "http://localhost:4000/"
        }

        // calculate returning user rate
        function calcReturnUser() {
            let rate;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/userRate", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                token: token
            }));
            xhr.onload = function () {
                rate = this.responseText;
                var output = document.getElementById('userRate');
                output.innerHTML = rate;
            }
        }
        var calUserRate = calcReturnUser();
    </script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 550px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="navbar">
            <a href="/home">Home</a>
            <a href="/about">AboutUs</a>
            <button onclick="signOut()">SignOut</button>
        </div>

        <div class="col-xl">
            <div class="well">
                <h4>Dashboard</h4>
                <p><%= title %>.</p>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Views</h4>
                        <span id="counter"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Recently Viewed by:</h4>
                        <span id="country"></span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Active Users in last 30 minutes</h4>
                        <p><%= userview %></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="well">
                        <h4>Returning Users rate (%)</h4>
                        <span id="userRate"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <table>
                    <tr>
                        <td>
                            <h4>Users views on Pages</h4>
                            <select id="dynamic">
                                <option value="" selected>Select Page</option>
                                <option value="home" onClick="getviews(this)">Home</option>
                                <option value="about" onClick="getviews(this)">AboutUs</option>
                            </select>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <div class="col-sm-2">
                                        <h4>Views</h4>
                                        <div default='null' id="outputTest"></div>
                                    </div>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table>
                    <tr>
                        <td>
                            <h4>Users views filter by country</h4>
                            <select id="dynamic_select">
                                <option value="" selected>Select Country</option>
                                <option value="Germany" onClick="getSelected(this)">Germany</option>
                                <option value="India" onClick="getSelected(this)">India</option>
                                <option value="US" onClick="getSelected(this)">Unites States</option>
                                <option value="UK" onClick="getSelected(this)">Unites Kingdom</option>
                            </select>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <div class="col-sm-2">
                                        <h4>Views</h4>
                                        <div id="output"></div>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <br>

            <div class="row">
                <table>
                    <tr>
                        <td>

                            <div class="box" id="chart_div" style="width: 700px; height: 500px;"></div>
                            <div class="box1">
                                <h4>Views over globe</h4>
                            </div>
                        </td>
                        <td>

                            <div class="box3" id="piechart" style="width: 700px; height: 500px;"></div>
                            <div class="box2">
                                <h4>Views based on browser</h4>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>