<!DOCTYPE html>
<html lang="en">

<head>
    <title>PageAnalysis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawBasic);
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        var countries;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/users/countries", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            value: 'value'
        }));
        xhr.onload = function () {
            console.log(this.responseText);
            countries = JSON.parse(this.responseText);
        }
        setTimeout(function () { drawBasic() }, 300);
        function drawBasic() {
            var data = google.visualization.arrayToDataTable([
                ['Countries', 'Views',],
                ['Germany', countries[0]],
                ['India', countries[1]],
                ['US', countries[2]],
                ['UK', countries[3]]
            ]);

            var options = {
                title: 'Views by Countries',
                chartArea: { width: '50%' },
                hAxis: {
                    title: 'Total Views',
                    minValue: 0
                },
                vAxis: {
                    title: 'Countries'
                }
            };

            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }

        var browserViews;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/users/readBrowser", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            value: 'value'
        }));
        xhr.onload = function () {
            browserViews = JSON.parse(this.responseText);
        }
        setTimeout(function () { drawChart() }, 300);
        function drawChart() {
            console.log('testing s', browserViews);
            var data = google.visualization.arrayToDataTable([
                ['Views', 'browser'],
                ['Chrome', browserViews[0]],
                ['Safari', browserViews[1]],
                ['Firefox', browserViews[2]],
                ['Edge', browserViews[3]]
            ]);

            var options = {
                title: 'Views based on browser'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
        $(function getSelected() {
            let views;
            var output = document.getElementById('output');
            $('#dynamic_select').on('change', function () {
                var value = $(this).val();
                console.log(value);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/users/filterByCountry", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    country: value
                }));
                xhr.onload = function () {
                    console.log('result is', this.responseText);
                    views = this.responseText;
                    console.log('views are', views);
                    output.innerHTML = views;
                }
            });
        });
        $(function getviews() {
            let views;
            var output = document.getElementById('outputTest');
            $('#dynamic').on('change', function () {
                var value = $(this).val();
                console.log(value);
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/users/page", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    page: value
                }));
                xhr.onload = function () {
                    views = this.responseText;
                    output.innerHTML = views;
                }
            });
        });

        var browser = (function (agent) {
            switch (true) {
                case agent.indexOf("edge") > -1: return "edge";
                case agent.indexOf("edg") > -1: return "chromium based edge (dev or canary)";
                case agent.indexOf("opr") > -1 && !!window.opr: return "opera";
                case agent.indexOf("chrome") > -1 && !!window.chrome: return "chrome";
                case agent.indexOf("trident") > -1: return "ie";
                case agent.indexOf("firefox") > -1: return "firefox";
                case agent.indexOf("safari") > -1: return "safari";
                default: return "other";
            }
        })(window.navigator.userAgent.toLowerCase());
        function browserValue(browser) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/users/browser", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                browser: browser
            }));
            xhr.onload = function () {
                console.log(this.responseText);
            }
        }
        var addBrowser = browserValue(browser);
    </script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 550px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {
                height: auto;
            }
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse visible-xs">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Page Analytic App</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home">Home</a></li>
                    <li class="active"><a href="/about">AboutUS</a></li>
                    <li class="active"><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav hidden-xs">
                <h2>Page Analytic App</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#home">Home</a></li>
                    <li class="active"><a href="/about">AboutUs</a></li>
                    <li class="active"><a href="#contact">Contact</a></li>
                </ul><br>
                <div class="relative">
                        <h4>Views based on browser</h4>
                        <div id="piechart" style="width: 320px; height: 280px;"></div>
                </div>
            </div>
            <br>

            <div class="col-sm-9">
                <div class="well">
                    <h4>Dashboard</h4>
                    <p><%= title %>.</p>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Users</h4>
                            <p><%= counter %></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Recently Viewed by:</h4>
                            <p><%= country %></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Active Users in last 30 minutes</h4>
                            <p><%= userview %></p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Returning Users rate within 1 day </h4>
                            <p>30%</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Users views on Pages</h4>
                        <select id="dynamic">
                            <option value="" selected>Select Page</option>
                            <option value="home" onClick="getviews(this)">Home</p>
                            </option>
                            <option value="about" onClick="getviews(this)">AboutUs</option>
                        </select>
                        <h4>Views</h4>
                        <div id="outputTest"></div>
                    </div>
                    <div class="col-sm-3">
                        <h4>Users views filter by country</h4>
                        <select id="dynamic_select">
                            <option value="" selected>Select Country</option>
                            <option value="Germany" onClick="getSelected(this)">Germany</option>
                            <option value="India" onClick="getSelected(this)">India</option>
                            <option value="US" onClick="getSelected(this)">US</option>
                            <option value="UK" onClick="getSelected(this)">UK</option>
                        </select>
                        <h4>Views</h4>
                        <div id="output"></div>
                    </div>
                    <div class="col-sm-5">
                        <div class="well">
                            <h4>Views over globe</h4>
                            <div id="chart_div" style="width: 350px; height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>